.appUI{
    background-color: $black;
    height: 100vh;
    overflow: hidden;
}

.appNav{
    padding: 50px;
    .navMenu {
        display: flex;
        padding-top: 30px;
        li {
            padding: 5px;
            font-size: 20px;
            text-decoration: none;
        }
    }
}

.thumbnailSection {
    display: flex;
    justify-content: space-around;
}

.movieThumbnail, .tvThumbnail {
    max-width: 300px;
    img {
        border-radius: 8px;
        max-width: 400px;
        max-height: 450px;
        overflow: hidden;
    }

    .title {
        color: $white;
        padding-top: 10px;
    }
}

.musicThumbnail {
    max-width: 350px;
    img {
        border-radius: 8px;
        max-width: 350px;
        max-height: 350px;
        overflow: hidden;
    }
    .title {
        color: $white;
        padding-top: 10px;
    }
    .singer {
        color: $pink;
        padding-top: 5px;
    }
}