img, embed, object, video {
    max-width: 100%; }

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.hidden {
    display: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: itc-avant-garde-gothic-pro, arial, helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: itc-avant-garde-gothic-pro, arial, helvetica, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.bold {
    font-family: itc-avant-garde-gothic-pro, arial, helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.container {
    max-width: 1400px;
}

.logo {
    max-width: 120px;
}