#kidsMedia{
    .highlightArea {
        cursor: pointer;
        iframe{
            position: absolute;
            top: 0;
            pointer-events: none;
            z-index:1;
            filter: brightness(0.5);
        }
        h3{
            color: $white;
            font-size: 1.3em;
            line-height: 1.35em;
            padding-left: 30px;
            margin-top: 420px;
            padding-top: 165px;
            padding-bottom: 160px;
            position: relative;
            background: $purple-background;
            background: $purple-background-gradient;
            z-index: 2;
            font-weight: 300;
            overflow-y: hidden;
        }
        img {
            z-index: 5;
            position: absolute;
            left: 50%;
            transition: all 0.8s ease;
        }
        img:hover{
            transform: scale(1.2);
            transition: all 0.8s ease;
        }
    }
}