header{
    nav {
        padding: 40px;
        display: flex;
        z-index: 8;
        flex-wrap: wrap;
        justify-content: space-between;
        color: $white;
        position: fixed;
        top: 0;
        height: 120px;
        background-color: $white-trans;
        width: 100vw;
        .rightWrapper {
            display:inline-flex;
            .profileWrapper {
                display: inline-flex;
                align-items: center;
                padding-right: 10px;
                img {
                    max-height: 40px;
                    padding-right: 10px;
                }
                h4{
                    color: white;
                    font-weight: 300;
                    border:none;
                }
            }
            button {
                background: none;
                border: none;
                padding: 0px;
                cursor: pointer;
            }
        }
    }
    .settingsWrapper {
        background-color: $black;
        max-width: 500px;
        padding: 50px 70px 50px 70px;
        border-radius: 8px;
        position: fixed;
        right: 0;
        top: 120px;
        z-index: 8;
        h3 {
            color: $pink;
            padding-bottom: 20px;
            font-size: 1.2em;
        }
        li,a {
            color: $white;
            padding-top: 10px;
            cursor: pointer;
        }
    }
}

.navDeco {
    margin-bottom: -50px;
    padding: 0px;
    pointer-events: none;
}

.bottomDeco {
    padding: 0px;
    pointer-events: none;
    filter: opacity(0.1);
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
    bottom: 0;
    z-index: 0;
}

#parentsMovies, #parentsTV{
    .highlightArea {
        cursor: pointer;
        iframe{
            position: absolute;
            top: 0;
            pointer-events: none;
            z-index:1;
            filter: brightness(0.5);
        }
        h3{
            color: $white;
            font-size: 1.3em;
            line-height: 1.35em;
            padding-left: 30px;
            margin-top: 420px;
            padding-top: 165px;
            padding-bottom: 160px;
            position: relative;
            background: $purple-background;
            background: $purple-background-gradient;
            z-index: 2;
            font-weight: 300;
            overflow-y: hidden;
        }
        img {
            z-index: 5;
            position: absolute;
            left: 50%;
            transition: all 0.8s ease;
        }
        img:hover{
            transform: scale(1.2);
            transition: all 0.8s ease;
        }
    }
    
    .menuNav{
        margin-bottom: 100px;
        padding-left: 30px;
        ul{
            display: flex;
            li {
                padding-right: 10vw;
                a {
                    text-decoration: none;
                    font-size: 1.4em;
                    color: $white;
                    transition: all 0.5s ease;
                }
                a:hover {
                    color: $pink;
                    transition: all 0.5s ease;
                }
            }
        }
        .currentPage{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: -20px;
            a {
                color: $yellow;
                padding-top: 10px;
            }
            img {
                max-height: 10px;
                padding: 0px;
            }
        }
    }
    .mediaArea{
        margin-top: 100px;
        .thumbnailsWrapper {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            .movie-item, .tv-item{
               display: flex;
               flex-direction: column;
               padding: 15px;
              .item-image {
                   overflow: hidden;
                   object-fit: contain;
                   border-radius: 10px;
                   max-height: 300px;
                   cursor: pointer;
               }
               .titleBox {
                   display: flex;
                   flex-wrap: wrap;
                   justify-content: space-between;
                   padding-top: 15px;
                   padding-bottom: 15px;
                   cursor: pointer;
                   span {
                       color: $pink;
                   }
                   img{
                    max-height: 15px;
                    padding-left: 10px;
                }
                   h3{
                       color: $white;
                       font-weight: $light;
                   }
               }
            }
        }
    }
    .filterSection{
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 100px;
        padding-bottom: 50px;
        background: $purple-background;
        background: $purple-background-gradient;
        .filterHeader {
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            h3 {
                color: $white;
                font-size: 1.4em;
                font-weight: $light;
                padding-right: 15px;
            }
            button {
                color: $white;
                background: $pink-background;
                background: $pink-background-gradient;
                padding: 8px 10px 8px 10px;
                font-size: 1.05em;
                border: none;
                border-radius: 6px;
                cursor: pointer;
                width: 120px;
                transition: all 0.3s ease-out;
            }
            button:hover {
                background: none;
                background-color: $pink;
                transition: all 0.3s ease-in;
            }
        }
        .eraItem {
            text-align: center;
            color: $white;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-top: 15px;
               img {
                   object-fit: cover;
                   border-radius: 10px;
                    width: 70vw;
                    height: 150px;
                   overflow: hidden;
                   cursor: pointer;
                   filter: brightness(0.5);
                   transition: all 0.8s ease;
               }
               img:hover{
                    filter: brightness(0.2);
                    transition: all 0.8s ease;
               }
              span {
                  position: absolute;
                  pointer-events: none;
                  font-size: 1.3em;
              }
        }
    }
    .detailsBox{
        position: fixed;
        background-color: $black;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        z-index: 5;
        padding-top: 200px;
        button{
            display: flex;
            align-items: center;
            padding: 8px;
            max-height: 50px;
            cursor:pointer;
            background: $pink-background;
            background: $pink-background-gradient;
            border:none;
            outline: none;
            border-radius: 10px;
            position: absolute;
            top: 15%;
            left: 1%;
            font-size: 1.05em;
            transition: all 0.3s ease-in;
            img{
                height: 20px;
                padding-right: 5px;
            }
            span{
                color: $white;
                padding-right: 10px;
                padding-left: 10px;
            }
        }
        button:hover{
            background: none;
            background-color: $pink;
            transition: all 0.3s ease-in;
        }
        .infoBox{
            width: 100%;
            position: absolute;
            bottom: 0;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 50px;
            padding-top: 200px;
            line-height: 1.1em;
            display: flex;
            flex-wrap: wrap;
            background: $purple-background;
            background: $purple-background-gradient;
            .ratingMedia{
                display: flex;
                padding-left: 10px;
                padding-bottom: 10px;
                img{
                    max-height: 15px;
                    padding-right: 5px;
                }
            }
            h3{
                color: $white;
                font-size: 1.5em;
                padding-bottom: 15px;
                padding-right: 10px;
            }
            h4{
                color: $pink;
                font-weight: $light;
                padding-bottom: 10px;
            }
            h5{
                font-weight: $light;
                color: $gray;
                padding-bottom: 10px;
            }
            p{
                color: $white;
                padding-bottom: 10px;
            }
        }
    }
}

.movieDetails, .tvDetails{
    #mediaDetailsCover{
        position: absolute;
        border-radius: 0px;
        top: 0;
        width: 100%;
        height: 60%;
        object-fit: cover;
        z-index: -1;
        filter: brightness(0.5);
        cursor: pointer;
    }
    #mediaDetailsPlayButton{
        transition: all 0.8s ease;
        position: absolute;
        top: 30%;
        left: 50%;
        cursor: pointer;
    }
    #mediaDetailsPlayButton:hover {
        transform: scale(1.2);
        transition: all 0.8s ease;
    }
}


.mediaBox{
    position: fixed;
    background-color: $black;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 5;
    iframe{
        position: fixed;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
    }
    button{
        display: flex;
        align-items: center;
        padding: 12px;
        max-height: 50px;
        cursor:pointer;
        background: $pink-background;
        background: $pink-background-gradient;
        border:none;
        outline: none;
        border-radius: 10px;
        position: absolute;
        top: 15%;
        left: 1%;
        font-size: 1.05em;
        transition: all 0.3s ease-in;
        z-index: 6;
        img{
            height: 20px;
            padding-right: 5px;
        }
    }
    button:hover{
        background: none;
        background-color: $pink;
        transition: all 0.3s ease-in;
    }
}

////////////////////////////////////////////////////// MUSIC SECTION ////////////////////////////////////////////////////////////


.musicHighlight, .musicBox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    top: 0%;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: $black;
    button{
        display: flex;
        align-items: center;
        padding: 8px;
        max-height: 50px;
        cursor:pointer;
        background: $pink-background;
        background: $pink-background-gradient;
        border:none;
        outline: none;
        border-radius: 10px;
        position: absolute;
        top: 15%;
        left: 1%;
        font-size: 1.05em;
        transition: all 0.3s ease-in;
        img{
            height: 20px;
            padding-right: 5px;
        }
        span{
            color: $white;
            padding-right: 10px;
            padding-left: 10px;
        }
    }
    button:hover{
        background: none;
        background-color: $pink;
        transition: all 0.3s ease-in;
    }
    .musicPlayerArea{
        display: flex;
        position: absolute;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        left: 10%;
        right: 10%;
        top: 20%;
        z-index: 6;
        img {
            max-height: 300px;
            max-width: 300px;
            object-fit: cover;
            border-radius: 30px;
            margin-bottom: 30px;
        }
    }
    .infoBox{
        position: absolute;
        bottom: 0;
        width: 100%;
        background: $purple-background;
        background: $purple-background-gradient;
        padding-left: 30px;
        .likeBox{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding-bottom: 30px;
            h4{
                font-size: 1em;
                font-weight: $light;
                padding-left: 10px;
                padding-top: 15px;
            }
        }
        h4{
            color: $white;
            font-size: 1.5em;
            padding-bottom: 15px;
        }
        h6{
            color: $pink;
            padding-bottom: 15px;
            font-weight: $light;
        }
        h5 {
            color: $gray;
            padding-bottom: 15px;
            font-weight: $light;
        }
    }
}

#parentsMusic{
    .mediaArea{
        .thumbnailsWrapper {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            .music-item{
               display: flex;
               flex-direction: column;
               padding: 15px;
              .item-image {
                   overflow: hidden;
                   object-fit: contain;
                   border-radius: 10px;
                   max-height: 300px;
                   cursor: pointer;
               }
               .titleBox {
                   display: flex;
                   flex-wrap: wrap;
                   justify-content: space-between;
                   padding-top: 15px;
                   padding-bottom: 15px;
                   cursor: pointer;
                   max-width: 300px;
                   h3{
                       color: $white;
                       font-weight: $light;
                   }
                   h4{
                       color: $pink;
                       font-weight: $light;
                   }
               }
            }
        }
    }

    .highlightArea {
        .highlightWrapper{
            display: flex;
            position: absolute;
            justify-content: center;
            align-items: center;
            top: 200px;
            max-height: 400px;
            left: 10%;
            right: 10%;
            z-index: 5;
            .highlightThumbnail{
                padding-right: 10px;
                img {
                    max-height: 350px;
                    border-radius: 10px;
                    cursor: pointer;
                    filter:blur(2px) brightness(0.5);
                    transition: all 0.8s ease;
                }
                img:hover{
                    filter:none;
                    transform: scale(1.1);
                    transition: all 0.8s ease;

                }
            }
        }

        h3{
            color: $white;
            font-size: 1.3em;
            line-height: 1.35em;
            padding-left: 30px;
            padding-top: 165px;
            padding-bottom: 200px;
            margin-bottom: 400px;
            top: 300px;
            position: relative;
            background: $purple-background;
            background: $purple-background-gradient;
            font-weight: 300;
            overflow-y: hidden;
        }
    }

    .menuNav{
        margin-bottom: 100px;
        padding-left: 30px;
        ul{
            display: flex;
            li {
                padding-right: 10vw;
                a {
                    text-decoration: none;
                    font-size: 1.4em;
                    color: $white;
                    transition: all 0.5s ease;
                }
                a:hover {
                    color: $pink;
                    transition: all 0.5s ease;
                }
            }
        }
        .currentPage{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: -20px;
            a {
                color: $yellow;
                padding-top: 10px;
            }
            img {
                max-height: 10px;
                padding: 0px;
            }
        }
    }
    .filterSection{
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 100px;
        padding-bottom: 50px;
        background: $purple-background;
        background: $purple-background-gradient;
        .filterHeader {
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            h3 {
                color: $white;
                font-size: 1.4em;
                font-weight: $light;
                padding-right: 15px;
            }
            button {
                color: $white;
                background: $pink-background;
                background: $pink-background-gradient;
                padding: 8px 10px 8px 10px;
                font-size: 1.05em;
                border: none;
                border-radius: 6px;
                cursor: pointer;
                width: 120px;
                transition: all 0.3s ease-out;
            }
            button:hover {
                background: none;
                background-color: $pink;
                transition: all 0.3s ease-in;
            }
        }
        .eraItem {
            text-align: center;
            color: $white;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-top: 15px;
               img {
                   object-fit: cover;
                   border-radius: 10px;
                    width: 50vw;
                   overflow: hidden;
                   cursor: pointer;
                   filter: brightness(0.5);
                   transition: all 0.8s ease;
               }
               img:hover{
                    filter: brightness(0.2);
                    transition: all 0.8s ease;
               }
              span {
                  position: absolute;
                  pointer-events: none;
                  font-size: 1.3em;
              }
        }
    }
}

@media screen and (min-width:800px){
    #parentsMovies, #parentsTV {
        .mediaArea {
            .thumbnailsWrapper{
                justify-content: space-evenly;
                .movie-item, .tv-item {
                    .item-image{
                        max-height: 500px;
                    }
                }
            }
        }

        .filterSection {
            .eraItem{
                img{
                    width: 750px;
                    height: 250px;
                }
            }
        }

        .detailsBox{
            .infoBox{
                flex-direction: column;
                .ratingMedia{
                    padding-left: 0px;
                }
                h3{
                    font-size: 1.5em;
                }
            }
        }
    }

    #parentsMusic{
        .filterSection {
            .musicEraWrapper{
                display: flex;
                justify-content: space-evenly;
                .eraItem{
                    img{
                        width: 350px;
                        padding-right: 15px;
                    }
                }
            }
        }
        .highlightArea{
            .highlightWrapper{
               .highlightThumbnail{
                   padding-right: 20px;
               }
            }
            h3 {
                top: 500px;
                margin-bottom: 500px;
            }
        }
    }
}