$white: #E8E8E8;
$pink: #FC4982;
$gray: #AAAAAA;
$purple: #6B2CEB;
$pink-background: rgb(255,181,105);
$pink-background-gradient: linear-gradient(90deg, rgba(255,181,105,1) 0%, rgba(255,56,127,1) 100%);

