$white: #E8E8E8;
$pink: #FC4982;
$gray: #AAAAAA;
$purple: #6B2CEB;
$black: #1A191E;
$yellow: #FFB569;
$bold: 700;
$light: 300;
$purple-trans: rgb(107, 44, 235,0.5);
$white-trans: rgb(232, 232, 232, 0.1);
$black-trans: rgb(26, 25, 30, 0.5);
$pink-background: rgb(255,181,105);
$pink-background-gradient: linear-gradient(90deg, rgba(255,181,105,1) 0%, rgba(255,56,127,1) 100%);
$purple-background: rgb(250,248,254);
$purple-background-gradient: linear-gradient(180deg, rgba(250,248,254,0) 0%, rgba(250,248,254,0) 40%, rgba(83,32,211,0.39119397759103647) 70%, rgba(40,15,101,1) 80%, rgba(26,25,29,1) 100%);

