.bold {
    font-family: itc-avant-garde-gothic-pro, arial, helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.book {
    font-family: itc-avant-garde-gothic-pro, arial, helvetica, sans-serif;
    font-weight: 300;
    font-style: normal;
}

$black: #1A191D;
$white: #FFFFFF;
$pink: #FF6677;