<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="./favicon.ico" />
    <link rel="stylesheet" href="css/reset.css" media="screen" type="text/css">
    <link rel="stylesheet" href="https://use.typekit.net/ama1lgv.css">
    <link rel="stylesheet" href="css/main.css" media="screen" type="text/css">
    <title>Roku Flashback</title>
</head>

<body>
    <main id="app" class="container">
        <h1 class="hidden">Roku Flashback</h1>
        <transition>
            <router-view></router-view>
        </transition>
    </main>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="./scripts/main.js" type="module"></script>
</body>

</html>