<section class="loginForm book">
    <h2>Sign In</h2>
    <form action="#">
        <input type="text" name="user_name" id="user_name" placeholder="Username" class="book">
        <input type="text" name="user_pass" id="user_pass" placeholder="Password" class="book">
        <!-- Bypassing Login Form for now -->
        <a href="/movies" class="button">Sign In</a>
        <a href="#">Forget Password?</a>
        <a href="#">Don't have an account?<span class="bold">Sign up</span></a>
    </form>
</section>