<header>
    <nav class="loginNav">
        <a href="/"><img src="images/roku.svg" alt="Roku Logo" class="logo"></a>
    </nav>
</header>
<section class="loginFormPanel">
    <h2 class="bold">Sign In</h2>
    <login-page></login-page>
</section>