<header>
    <nav class="appNav">
        <img src="images/roku_white.svg" alt="Roku Logo" class="logo">
        <ul class="navMenu bold">
            <li><a href="/movies-parents">MOVIES</a></li>
            <li><a href="/tvs-parents">TVS</a></li>
            <li><a href="/music-parents">MUSIC</a></li>
        </ul>
    </nav>
</header>
<parents-movies-section></parents-movies-section>