<header>
    <nav class="loginNav">
        <a href="/"><img src="images/roku.svg" alt="Roku Logo" class="logo"></a>
        <a href="#" class="book">Edit Profile</a>
    </nav>
</header>
<div class="profilePanel">
    <h2 class="bold">Who's the time traveller today?</h2>
    <section class="book profileSection">
        <a href="/movies-parents">Parents</a>
        <a href="/movies-kids">Kids</a>
        <a href="/">Back</a>
    </section>
</div>