<header>
    <nav class="appNav">
        <a href="/"><img src="images/roku_white.svg" alt="Roku Logo" class="logo"></a>
        <ul class="navMenu bold">
            <li><a href="/movies-kids">MOVIES</a></li>
            <li><a href="/tvs-kids">TVS</a></li>
            <li><a href="/music-kids">MUSIC</a></li>
        </ul>
    </nav>
</header>
<kids-tvs-section></kids-tvs-section>