<header>
    <nav class="appNav">
        <a href="/"><img src="images/roku_white.svg" alt="Roku Logo" class="logo"></a>
        <ul class="navMenu bold">
            <li><a href="/movies-parents">MOVIES</a></li>
            <li><a href="/tvs-parents">TVS</a></li>
            <li><a href="/music-parents">MUSIC</a></li>
        </ul>
    </nav>
</header>
<parents-tvs-section></parents-tvs-section>